 
  
  
  .swiper-pagination {
    position:static;
    top: 10px;
  }
    
    .swiper-pagination-bullet {
      width: 16px;
      height:5px;
      background: #c9c7c7; /* رنگ دایره‌ها */
      opacity: 0.8;
      border-radius: 25%;
      margin: 0 5px; /* فاصله بین دایره‌ها */
    }
    
    .swiper-pagination-bullet-active {
      background: #056e24; /* رنگ دایره فعال */
    }
    