
  .swiper-pagination {
    position:static;
    top: 10px;
  }
    
    .swiper-pagination-bullet {
      width: 16px;
      height:5px;
      background: #DFDFDF;
      opacity: 0.8;
      border-radius: 25%;
      margin: 0 5px;
    }
    
    .swiper-pagination-bullet-active {
      background: #ADADAD;
    }
    